{% extends "base.html" %}
{% block content %}
  <img id="landing-logo" src="http://jamhacks.ca/img/JAMHacks Centered.svg" alt="JAMHacks">
  <h2>Thank you for RSVPing! See you at JAMHacks!</h2>
  <h4>
    <div class="landing-social-buttons">
      <a class="social-link-icon" href="/slack" target="_blank">
        <img src="http://jamhacks.ca/img/slack-icon.png" alt="Slack">
        <span>Slack</span>
      </a>
      <a class="social-link-icon" href="https://jamhacks2.devpost.com/" target="_blank">
        <img src="http://jamhacks.ca/img/devpost-icon.png" alt="Devpost">
        <span>Devpost</span>
      </a>
    </div>
  </h4>
{% endblock %}